/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
    min-width: 1040px;
}

.ocks-org body {
    background: #fcfcfa;
    color: #333;
    font-family: "PT Serif", serif;
    margin: 1em auto 4em auto;
    position: relative;
    width: 960px;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
    font-family: "PT Sans", sans-serif;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
    color: #000;
}

.ocks-org header,
.ocks-org footer {
    color: #636363;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
}

h2 {
    margin-top: 2em;
}

h1, h2 {
    text-rendering: optimizeLegibility;
}

h2 a[name],
h2 a[id] {
    color: #ccc;
    left: -20px;
    position: absolute;
    width: 740px;
}

header,
footer {
    font-size: small;
}

.ocks-org header aside,
.ocks-org footer aside {
    float: left;
    margin-right: .5em;
}

.ocks-org header aside:after,
.ocks-org footer aside:after {
    padding-left: .5em;
    content: "/";
}

footer {
    margin-top: 8em;
}

h1 ~ aside {
    font-size: small;
    right: 0;
    position: absolute;
    width: 180px;
}

.attribution {
    font-size: small;
    margin-bottom: 2em;
}

body > p, li > p {
    line-height: 1.5em;
}

body > p {
    width: 720px;
}

body > blockquote {
    width: 640px;
}

blockquote q {
    display: block;
    font-style: oblique;
}

li {
    width: 680px;
}

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}

pre, code, textarea {
    font-family: "Menlo", monospace;
}

code {
    line-height: 1em;
}

textarea {
    font-size: 100%;
}

body > pre {
    border-left: solid 2px #ccc;
    padding-left: 18px;
    margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
    color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
    color: #3182bd;
}

.comment {
    color: #636363;
}

.html .doctype,
.javascript .number {
    color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
    color: #e6550d;
}

svg {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

sup, sub {
    line-height: 0;
}

q:before {
    content: "“";
}

q:after {
    content: "”";
}

blockquote:before {
    position: absolute;
    left: 2em;
}

blockquote:after {
    position: absolute;
}


#category {
    top :50px;
    float: right;
    width: 270px
}

#categoryBar {
    width: 200px
}

#login{
    top: 10px;
    float: right;
    width: 400px;
}

#usernameInput{
    position: relative;
    left: 10px;
    top: 0px;
}


#passwdInput{
    position: relative;
    left: 170px;
    top: 0px;
}

#title{
    color : red;
}

.twitterUser{
    color : blue;
    width: 900px;

}
.twitterTitle{
    color: #000;
    font-family: "PT Sans", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 700;
    margin: .3em 0 .1em 0;
}

.content {
    position: relative;
    color :#545454;
    font-family: "PT Serif", serif;
    font-size: 15px;
    left: 40px;
    font-weight: normal;
    line-height : 23px;
}

.readMore{
    font-family: "PT Serif", serif;
    font-size: 15px;
    font-weight: normal;
    text-align:right;

}

