%div{:class => "row" ,:id => "opener"}
  %div{:class => "col-md-2"}
  %div{:class => "col-md-8 topmostrow"}
    %p
      %span{:class=>"selected"}
        %a{:href=>""}
          Tech
      %span{:class => "unselected"}
        = "/"
        %a{:href=>""} business /
        %a{:href=>""} lifestyle /
        %a{:href=>""} other
  %div{:class=>"col-md-2"}
