%div.header_middle
  %div.topmostrow
    %p
      %span.selected
        &nbsp;&nbsp;&nbsp;
        %a{:href=>""}
          %i.glyphicon.glyphicon-print
          Tech
        &nbsp;&nbsp;&nbsp;
      %span.unselected
        = " | "
        &nbsp;&nbsp;&nbsp;
        %a{:href=>""}
          %i.glyphicon.glyphicon-briefcase
          Business
        &nbsp;&nbsp;&nbsp;
        = " | "
        &nbsp;&nbsp;&nbsp;
        %a{:href=>""}
          %i.glyphicon.glyphicon-glass
          lifestyle
        &nbsp;&nbsp;&nbsp;
        =" | "
        &nbsp;&nbsp;&nbsp;
        %a{:href=>""}
          %i.glyphicon.glyphicon-plus
          other
