<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="stickyheader">
  <div class="container">
    <div class="header_left">
      Briefr.
    </div>
    <div class="header_right">
      Icon
    </div>
  </div>
</nav>

<div class="container">
<br>
  <%= render 'stories/category' %>
  <%= render 'stories/post' %>
</div> <!-- /container -->
