@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);
@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

@import url(http://getbootstrap.com/favicon.ico);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic|Noto+Sans:400,700,400italic|Noto+Serif:400,700,400italic);

$grayLighter: #eeeeee;
$grayLight: #999999;
$grayMediumLight: #eaeaea;
$grayDarker: #222222;
$grayDark: #333333;

$themeColorLighter : #83a801;
$themeColor : #7b9b80;
$themeColorDarker : #618962;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
}

.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}


[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  padding-top: 50px;
  background-color: rgba(250, 250, 250, 0.7)
}

#stickyheader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,0.8);
  min-height: auto;
  margin-bottom: 0px;
  line-height: 20px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 10px;
}

.header_left {
  text-align: left;
  padding-top: 5px;
  width: 10%;
  float: left;
}

.header_right {
  text-align: right;
  padding-top: 5px;
  width: 10%;
  display: inline-block;
}


.header_middle {
  text-align: middle;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 20px;
  width: 70%;
  display: inline-block;
}

.topmostrow {
  font-size: 22px;
}

.topbottomrow {
  font-size: 24px;
}

.selected {
  font-weight: 700px;
}

.selected a {
  text-decoration: underline;
  color: black;
}

.unselected a {
  color: #428bca;
}

.unselected a:hover {
  color: #a428bc;
}


#closer {
  padding-bottom: 20px;
}

.post{
  padding-top: 50px;
}

.post_lefthand {
  text-align: right;
  padding-right: 30px;
  padding-top: 5px;
}

.post_righthand {
  text-align: left;
  padding-left: 30px;
}

.sharedby {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #6bdb9d;
}

.content_trailer {
  padding-left: 14px;
  padding-right: 14px;
}

.content_trailer img {
  max-height: 55px;
  margin-top: 10px;
}

.content_title {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.content_keywords {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.content_details {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.source_primary {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #428bca;
}

.source_secondary {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #428bca;
}


@media (max-width: 700px) {
  .topmostrow {
    font-size: 28px;
    text-align: center;
  }

  .post {
    padding-left: 15px;
    padding-right: 15px;
  }

  hr {
    border: 0;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .post_lefthand {
    text-align:right;
    padding-right: 10px;
  }

  #stickyheader {
    background-color: rgba(255,255,255,1);
  }

  .sharedby {
    display: inline-block
  }

  .content_title_img {
    visibility: hidden;
    line-height: 1px;
  }

  .content_trailer img {
    max-height: 1px;
    visibility: hidden;
  }

  .content_keywords {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: -10px;
  }

  .post_righthand {
    display: inline-block;
    text-align: left;
    padding-left: 0px;
  }

  .source_primary {
    display: inline-block;
  }

  .source_secondary {
    display: inline-block;
  }

  .source_secondary_detail {
    display: inline-block;
  }

}

.debug {
  display: none;
}
