@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);
@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

$grayLighter: #eeeeee;
$grayLight: #999999;
$grayMediumLight: #eaeaea;
$grayDarker: #222222;
$grayDark: #333333;

$themeColorLighter : #83a801;
$themeColor : #7b9b80;
$themeColorDarker : #618962;

pre {
  font-size: 1.0em;
  margin-bottom: 30px;
  font-weight: normal;
  // font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-family: Courier New;
  color: $gray;
  border-radius: 15px;
  border-color: #f4fff3;
  background-color: #f4fff3;
}

.navbar-form input, .form-inline input {
  width:auto;
}

.container{
  margin-left:auto !important;
  margin-right:auto !important;
  width: 1200px !important;
}

header {
  min-height:120px;
  margin-bottom:5px;
}

body {
  margin-top: 100px;
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-weight:300;
  color:#676767;
  background-color:#efefef;
}

a,a:hover {
  color:$themeColorLighter;
  text-decoration:none;
}

.icon-2x {
  color: $themeColorLighter;

}

.highlight-bk {
  background-color:$themeColor;
  padding:1px;
  width:100%;
}

.highlight {
  color:$themeColor;
}

h3.highlight  {
  padding-top:13px;
  padding-bottom:14px;
  border-bottom:2px solid $themeColor;
}

.navbar {
  background-color:$themeColor;
  color:#ffffff;
  border-radius:0;
}

.navbar-nav > li > a {
  color:#fff;
  padding-left:20px;
  padding-right:20px;
  border-left:1px solid $themeColorDarker;
}

.navbar-nav > li:last-child > a {
  border-right:1px solid $themeColorDarker;
}

.navbar-nav li a:hover {
  background-color:#66BBCC;
}


.navbar-brand {
  color:#fff;
}

.dropdown-toggle{
  color: white !important;
  text-shadow: none !important;
}

.accordion-group {
  border-width:0;
}

.dropdown-menu {
  min-width: 300px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel,.panel-heading {
  border-radius:0;
  border-width:0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
}

.thumbnail {
  margin-bottom:8px;
  border-radius:0;
}

.well {
  border-radius:0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
  padding-left:1px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.readMore{
  bottom: 10px;
  text-align:right;
}

@media (min-width: 992px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
  .no-gutter.row > .col-md-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-md-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-md-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-md-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-md-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-md-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-md-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-md-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-md-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-md-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}