<div class="blockGroup">
  <div class="blockList">
    <div class="blockHeader">
      <div>
        <h2>
          BRIEFR.
        </h2>
      </div>
    </div>
    <%= render 'categories/post' %>
  </div>
</div>
