<div class="container">
  <nav style="border-image-width: 0px 0px 0px 0px; border-bottom-width: 0px; margin-bottom: 0px; border-color: rgb(255, 255, 255); background-image: none; background-color: rgb(255, 255, 255); box-shadow: inherit;" class="navbar navbar-default navbar-static-top" role="navigation">
    <div style="font-family: &quot;Ubuntu&quot;,arial; color: rgb(0, 76, 82); font-size: 35pt;" class="container">
      <a style="padding-left: 10px; color: rgb(0, 76, 82);" href="/"> BRIFER.</a>
    </div>
  </nav>
  <div class="navbar-wrapper stuckMenu isStuck">
    <div style="font-family: &quot;Ubuntu&quot;,sans-serif; font-size: 20pt;" class="container">
      <div class="navwrapper">
        <div style="border-color: rgb(255, 255, 255); border-width: 0px; box-shadow: unset; background-color: rgb(255, 255, 255);" class="navbar navbar-default navbar-static-top">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav collapse1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div style="text-transform: none; font-size: 20pt; font-family: &quot;Ubuntu&quot;;" class="navbar-collapse collapse" id="nav collaspse1">
            <ul style="float: left;" class="nav navbar-nav">
              <li style="" class="menuItem active"><a href="/categories/tech">techgnology</a></li>
              <li style="" class="menuItem"><a href="/categories/biz">business</a></li>
              <li style="" class="menuItem"><a href="/categories/lifestyle">lifestyle</a></li>
            </ul>
          </div>
          
        </div> 
      </div><!-- End Navbar -->
    </div>
  </div>
</div><!--End Container-->
