<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="stickyheader">
  <div class="container">
    <div class="header_left">Briefr.</div>
    <%= render 'stories/category' %>
    <div class="header_right">Icon</div>
  </div>
</nav>