<div class="navbar navbar-default navbar-fixed-top headroom" role="navigation" id="navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Briefr</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id = "tech" class="active"><a href="/categories/tech"><i class = "glyphicon glyphicon-print"></i>&nbsp;Tech</a></li>
        <li id = "bus"><a href="/categories/biz"><i class = "glyphicon glyphicon-briefcase"></i>&nbsp;Business</a></li>
        <li id = "life"><a href="/categories/lifestyle"><i class = "glyphicon glyphicon-glass"></i>&nbsp;Lifestyle</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
